.design{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
};

.mybtn{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.searchbar{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.flexdesign{
    display: flex;
    
    
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}